---
import { Icon } from "astro-icon";
import departments from "./contacts.data.json";
---

<div class="bg-slate-100 border-t border-b border-solid border-slate-300">
  {
    departments && departments.length && (
      <div class="mx-auto max-w-7xl py-16 px-4 sm:px-6 lg:px-8">
        <div class="mx-auto max-w-lg md:grid md:max-w-none md:grid-cols-2 md:gap-8 space-y-12 sm:space-y-16 md:space-y-0">
          {departments.map((department) => (
            <div>
              {department.title && (
                <h2 class="text-2xl font-medium text-slate-900 sm:text-3xl sm:tracking-tight">{department.title}</h2>
              )}

              {department.description && (
                <div class="mt-3">
                  <p class="text-lg text-slate-500">{department.description}</p>
                </div>
              )}

              <div class="mt-9 space-y-6">
                {department.contacts &&
                  department.contacts.length &&
                  department.contacts.map((contact) => (
                    <div class="flex text-base text-slate-500">
                      <div class="flex-shrink-0 text-slate-700">
                        <Icon class="w-6 h-6" aria-hidden="true" name={contact.icon} />
                      </div>
                      <div class="ml-3 space-y-1">
                        <p class="font-medium text-slate-700">
                          {contact.href ? (
                            <a href={contact.href} class="link link--underline">
                              {contact.text}
                            </a>
                          ) : (
                            contact.text
                          )}
                        </p>
                        <Fragment>
                          {Array.isArray(contact.description)
                            ? contact.description.map((item) => <p>{item}</p>)
                            : contact.description && <p>{contact.description}</p>}
                        </Fragment>
                      </div>
                    </div>
                  ))}
              </div>
            </div>
          ))}
        </div>
      </div>
    )
  }
</div>
